<!DOCTYPE html>
<html class="no-js" lang="ru">
  <head>
    <!--
  {% block head %}
  !-->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--
    <meta name="copyright" content="Создание сайтов - Cetera Labs, www.cetera.ru, 2016">
    <meta name="author" content="Cetera Labs, http://www.cetera.ru/, {{ _('создание сайтов') }}, {{ _('поддержка сайтов') }}, {{ _('продвижение сайтов') }}">
    <meta name="cmsmagazine" content="f21b68cb09efe1a7161ca2caaacaf749">
    !-->
    
	<title>Номера в парк-отеле Марат, Гаспра, Ялта, забронировать номера отеле Ялты с питанием все включено 2022</title>
    <!--
	{{ application.showMeta('description') }}
	{{ application.showMeta('keywords') }}
	{{ application.showCSS() }}
	{{ application.showHeadStrings() }}	
	
    
    <link rel="manifest" href="{{ basePath }}images/favicon/site.webmanifest">
    <link rel="mask-icon" href="{{ basePath }}images/favicon/safari-pinned-tab.svg" color="#5f4b8b">
    !-->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">	
    <!--
    <meta name="msapplication-config" content="{{ basePath }}images/favicon/browserconfig.xml">
	
	  <meta name="msapplication-TileColor" content="#5f4b8b">
    <meta name="theme-color" content="#5f4b8b">
    !-->

    <script src="https://kit.fontawesome.com/1b44a87285.js" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="css/marat.css">

    <!--
    <link rel="stylesheet" href="/uploads/20220505/marat.css">
    !-->

    <!--
	
	{% if config.code_head is defined and config.code_head %}{{ config.code_head|raw }}{% endif %}
	
  {% endblock %}
  !-->
  </head>
  <body>
    <!--
    {{ application.showAdminPanel() }}
    !-->
    <header class="header">

      <div class="header_wraper">

        <div class="header_top">

          <div class="header_top_logo">
            <!--
            <a href="">
            <img src="/uploads/20220505/marat_logo.png" alt="Упс">
            </a>
            !-->
            <a href="">
              <img src="img/marat_logo.png" alt="Упс">
            </a>
            <div class="header_top_logo_text">

              <a href="#" class="header_top_logo_text_main">ПАРК-ОТЕЛЬ «МАРАТ»</a>

              <div class="header_top_logo_text_sub">
                Официальные цены 2022<br>г. Ялта, пгт. Гаспра
              </div>

            </div>

          </div>

          <div class="header_top_phones">

            <div class="header_top_phones_btn_left">
              <a href="#openModal_рhones">Телефоны для связи с нами</a>
            </div>

            <div class="header_top_phones_btn_right">
              <a href="#openModal_рhones_return">Обратный звонок</a>
            </div>
            
          </div>

          
        </div>

        <div class="header_bot">

           <div class="header_bot_menu">
            <a href="marat.html">Главная</a>
          </div>
          <div class="header_bot_menu">
            <a href="marat_rooms.html">Номера</a>
          </div>
          <div class="header_bot_menu">
            <a href="marat_aboutus.html">О нас</a>
          </div>
          <div class="header_bot_menu">
            <a href="marat_prices.html">Цены</a>
          </div>
          <div class="header_bot_menu">
            <a href="marat_services.html">Услуги</a>
          </div>
          <div class="header_bot_menu">
            <a href="marat_treatment.html">Лечение</a>
          </div>
          <div class="header_bot_menu">
            <a href="marat_gallery.html">Галерея</a>
          </div>
          <div class="header_bot_menu">
            <a href="marat_contacts.html">Контакты</a>
          </div>

        </div>

      </div>

    </header>

    <section class="history">

    <div class="history_header">
      НОМЕРА
    </div>

    <div class="history_main">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>

    <div class="history_footer">
    </div>
    
  </section>

    <section class="rooms">

    <div class="rooms_header">
    </div>

    <div class="rooms_items">

      <div class="rooms_item">

        <div class="rooms_item_top_text">
          От 7777 Руб/Чел
        </div>

        <div class="rooms_item_bot_text">
          1-МЕСТНЫЙ СТАНДАРТ, КОРПУС №1
        </div>

      </div>

      <div class="rooms_item">

        <div class="rooms_item_top_text">
          От 7777 Руб/Чел
        </div>

        <div class="rooms_item_bot_text">
          1-МЕСТНЫЙ СТАНДАРТ, КОРПУС №1
        </div>

      </div>

      <div class="rooms_item">

        <div class="rooms_item_top_text">
          От 7777 Руб/Чел
        </div>

        <div class="rooms_item_bot_text">
          1-МЕСТНЫЙ СТАНДАРТ, КОРПУС №1
        </div>

      </div>

      <div class="rooms_item">

        <div class="rooms_item_top_text">
          От 7777 Руб/Чел
        </div>

        <div class="rooms_item_bot_text">
          1-МЕСТНЫЙ СТАНДАРТ, КОРПУС №1
        </div>

      </div>

      <div class="rooms_item">

        <div class="rooms_item_top_text">
          От 7777 Руб/Чел
        </div>

        <div class="rooms_item_bot_text">
          1-МЕСТНЫЙ СТАНДАРТ, КОРПУС №1
        </div>

      </div>

      <div class="rooms_item">

        <div class="rooms_item_top_text">
          От 7777 Руб/Чел
        </div>

        <div class="rooms_item_bot_text">
          1-МЕСТНЫЙ СТАНДАРТ, КОРПУС №1
        </div>

      </div>

      <div class="rooms_item">

        <div class="rooms_item_top_text">
          От 7777 Руб/Чел
        </div>

        <div class="rooms_item_bot_text">
          1-МЕСТНЫЙ СТАНДАРТ, КОРПУС №1
        </div>

      </div>

      <div class="rooms_item">

        <div class="rooms_item_top_text">
          От 7777 Руб/Чел
        </div>

        <div class="rooms_item_bot_text">
          1-МЕСТНЫЙ СТАНДАРТ, КОРПУС №1
        </div>

      </div>

      <div class="rooms_item">

        <div class="rooms_item_top_text">
          От 7777 Руб/Чел
        </div>

        <div class="rooms_item_bot_text">
          1-МЕСТНЫЙ СТАНДАРТ, КОРПУС №1
        </div>

      </div>
      

    </div>

  </section>

  <section class="tickets">

    <div class="tickets_name">

      <i class="fa-solid fa-circle-check"></i>

      <div class="tickets_name_text">
        Бронирование<br>номеров
      </div>

    </div>

    <div class="tickets_inputs">

      <div class="tickets_inputs_text">
        ДАТА ЗАЕЗДА
      </div>

      <input type="datetime-local" autofocus>

    </div>

    <div class="tickets_inputs">

      <div class="tickets_inputs_text">
        ДАТА ВЫЕЗДА
      </div>

      <input type="datetime-local" autofocus>
      
    </div>

    <div class="tickets_inputs">

      <div class="tickets_inputs_text">
        ВЗРОСЛЫХ
      </div>

      <select>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
      </select>
      
    </div>

    <div class="tickets_inputs">

      <div class="tickets_inputs_text">
        ДЕТЕЙ
      </div>

      <select>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
      </select>

    </div>

    <div class="tickets_inputs_btn">
      <a  href="#">НАЙТИ НОМЕР</a>
    </div>

  </section>

   <footer class="footer">

    <div class="footer_top">

      <div class="footer_top_left">

        <img src="img/marat_logo.png" alt="Упс">

        <div class="footer_top_left_text">
          <div class="footer_top_left_text_1">
            Парк-отель «Марат» — сайт официального партнера ООО «КТ «Рюкзак путешествий».
          </div>
          <div class="footer_top_left_text_2">
            Где купить путевки — Крымский туроператор «Рюкзак путешествий»
          </div>
          <div class="footer_top_left_text_3">
            Нас Вы можете найти по адресу:
          </div>
          <div class="footer_top_left_text_4">
            Россия, Республика Крым, 295051, г. Симферополь, ул. Горького, 26.
          </div>
          Время работы: Пн- Пт с 10.00-19.00 Сб с 11.00-17.00
        </div>

      </div>

      <div class="footer_top_midle">
        <div class="footer_top_midle_top">
          <div class="footer_top_midle_text1">
            Мы всегда на связи!
          </div>
          <div class="footer_top_midle_text2">
            Звоните нам по любым вопросам
          </div>
          <div class="footer_top_midle_text3">
            с Понедельника по Воскресенье: с 9.00 — 22.00
          </div>
        </div>
        <a href="tel:78005113515">+7 (800) 511-35-15 (бесплатно)</a>
        <br>
        <a href="tel:74952660215">+7 (495) 266-02-15</a>
        <br>
        <a href="tel:79884101030">+7 (988) 410 10 30</a>
        <br>
        <a href="tel:79884101030">+7 (978) 01 01 260</a>
        <br>
        <a class="footer_top_midle_lasta" href="tel:79780101260">+7 (978) 010 12 60</a>
        <br>
        <br>
        <br>
        <a href="mailto:marat@bag-travels.ru">marat@bag-travels.ru</a>
      </div>

      <div class="footer_top_right">
        <div class="footer_top_right_header">
          Форма обратной связи
        </div>
        <div class="footer_top_right_form">
          <div class="footer_top_right_form_top">
            <input type="text" placeholder="Ваше ФИО" autofocus >
            <input type="text" placeholder="Ваш Email" autofocus >
          </div>
          <input type="text" placeholder="Ваш Телефон" autofocus >
          <textarea  placeholder="Введите ваше сообщение..." autofocus></textarea>
          <a href="">ОТПРАВИТЬ</a>
        </div>
      </div>

    </div>

    <div class="footer_bot">
      
    </div>

  </footer>

  <div id="openModal_рhones" class="modalDialog">

      <div>
        
        <a href="#close" title="Закрыть" class="close">X</a>
        <div class="phones">

          <a href="tel:78005113515">+7 (800) 511-35-15 (бесплатно)</a>
          <a href="tel:74952660215">+7 (495) 266-02-15</a>
          <a href="tel:79884101030">+7 (988) 410 10 30</a>
          <a href="tel:79884101030">+7 (978) 01 01 260</a>
          
        </div>

      </div>

    </div>

    <div id="openModal_рhones_return" class="modalDialog">

      <div>
        
        <a href="#close" title="Закрыть" class="close">X</a>
        <div class="рhones_return">
          
          <div class="phones_return_header">
            Обратный звонок
          </div>
          <input type="text" placeholder="Ваше имя" autofocus >
          <input type="text" placeholder="Ваш телефон" autofocus >
          <a id="phones_return_button" href="#">ОТПРАВИТЬ</a>
          
        </div>

      </div>

    </div>

    <div id="openModal_reviews" class="modalDialog">

      <div>
        
        <a href="#close" title="Закрыть" class="close">X</a>
        <div class="reviews_give_review">

          <div class="reviews_give_review_item">

            <div class="reviews_give_review_item_text">
              ФИО
            </div>

            <input class="input_name" type="text" placeholder="Ваше ФИО" autofocus >

          </div>

          <div class="reviews_give_review_item">

            <div class="reviews_give_review_item_text">
              Email
            </div>

            <input class="input_email" type="text" placeholder="Ваш email" autofocus >
            
          </div>

          <div class="reviews_give_review_item">

            <div class="reviews_give_review_item_text">
              Дата отдыха
            </div>

            <input type="datetime-local" autofocus>
            
          </div>

          <div class="reviews_give_review_item">

            <div class="reviews_give_review_item_text">
              Отзыв
            </div>

           <textarea class="textarea" placeholder="Поделитесь своими эмоциями..." autofocus></textarea>
            
          </div>

          <div class="reviews_give_review_item_btn">
            <a href="">Отправить отзыв</a>
          </div>
          
        </div>

      </div>

    </div>

    <script src="js/reviews.js"></script>
    <script src="js/marat.js"></script>

  </body>
</html>

